table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #ddd;
}


table.inner-table td {
  border: none; /* Remove border for inner table cells */
  padding: 0;
}

table.inner-table td table{
  border-collapse: collapse;
}



.time-table.inner-table{

    border: none; /* Remove border for inner table cells */
    padding: 0;

}
